{% extends 'layout.html' %}
{% block content %}
<section class="ui segment basic padded">
    {% include 'user/stats.html' %}
    <div class="ui divider"></div>
    {% if user.watchlist_size() or user.watched_movies|length %}
    {% include 'movie_list.html' %}
    {% include 'page_navigation.html' %}
    {% else %}
    <h2 class="ui icon header center aligned">
        <i class="massive frown outline icon"></i>
        <div class="content">
            Looks like your watchlist is empty.
            <div class="sub header">Add any movies you're interested in and they'll appear here.</div>
        </div>
    </h2>
    {% endif %}
</section>
{% endblock %}
