{% extends 'layout.html' %}
{% block content %}
<section class="ui segment basic padded">
    {% if movies %}
    <h1 class="ui header center aligned">
        Showing {{ page * page_size + 1}} to {{ page * page_size + [page_size, movies|length]|min }} of {{ hits }}
        results
    </h1>
    {% include 'movie_list.html' %}
    {% include 'page_navigation.html' %}
    {% else %}
    <h2 class="ui icon header center aligned">
        <i class="massive frown outline icon"></i>
        <div class="content">
            No results.
            <div class="sub header">Don't give up! Try searching for something else.</div>
        </div>
    </h2>
    <section class="ui center aligned segment padded basic">
            {% include 'searchbar.html' %}
    </section>
    {% endif %}
</section>
{% endblock %}
