nav {
    margin-bottom: 24px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1
}

td:first-child {
    font-weight: bold;
}

.disabled {
    pointer-events: none;
}

#pagination-large {
    display: none;
}

#nav-large {
    display: none;
}

.ui.statistics.stackable {
    flex-direction: column;
    align-items: center;
}

.ui.segment.very.compact {
    padding-top: 0;
    padding-bottom: 0;
}

.pre-wrap {
    white-space: pre-wrap
}

@media only screen and (min-width: 600px) {
    #pagination-large {
        display: inline-flex;
    }

    #pagination-small {
        display: none;
    }

    #nav-small {
        display: none;
    }

    #nav-large {
        display: flex;
    }


    .ui.statistics.stackable {
        flex-direction: row;
    }
}