nav {
    margin-bottom: 24px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1
}

#sign-in {
    margin-right: 8px;
}

td:first-child {
    font-weight: bold;
}

.disabled {
    pointer-events: none;
}

#pagination-large {
    display: none;
}

@media only screen and (min-width: 600px) {
    #pagination-large {
        display: inline-flex;
    }

    #pagination-small {
        display: none;
    }
}