<h3 class="ui horizontal divider header">
    <i class="cog icon"></i>
    Settings
</h3>
<div class="ui segment active">
    <table class="ui very basic two column table padded">
        <tbody>
        <tr>
            <td class="right aligned">Change username</td>
            <td>
                <form
                        method="POST"
                        action="{{ url_for('user_bp.change_username', username=user.username) }}"
                        class="ui form {{ 'error' if change_username_error_message or change_username_form.errors}} {{ 'success' if is_username_change_success }}"
                >
                    {{ change_username_form.csrf_token }}
                    <!-- Need to include this token - Flask WTForms requires it. -->
                    <div class="field required">
                        {{ change_username_form.new_username.label }}
                        {{ change_username_form.new_username }}
                    </div>
                    <div class="ui left aligned segment basic error message">
                        <ul>
                            {% if change_username_error_message %}
                            <li>{{ change_username_error_message }}</li>
                            {% endif %}

                            {% if change_username_form.errors %}
                            {% for field_name, field_errors in change_username_form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ui success message">
                        <p>Your username has been changed.</p>
                    </div>
                    {{ change_username_form.submit(class_="ui button")}}
                </form>
            </td>
        </tr>
        <tr>
            <td class="right aligned">Change password</td>
            <td>
                <form
                        method="POST"
                        action="{{ url_for('user_bp.change_password', username=user.username) }}"
                        class="ui form {{ 'error' if change_password_error_message or change_password_form.errors}} {{ 'success' if is_password_change_success }}"
                >
                    {{ change_password_form.csrf_token }}
                    <!-- Need to include this token - Flask WTForms requires it. -->
                    <div class="field required">
                        {{ change_password_form.current_password.label }}
                        {{ change_password_form.current_password }}
                    </div>
                    <div class="field required">
                        {{ change_password_form.new_password.label }}
                        {{ change_password_form.new_password }}
                    </div>
                    <div class="ui left aligned segment basic error message">
                        <ul>
                            {% if change_password_error_message %}
                            <li>{{ change_password_error_message }}</li>
                            {% endif %}

                            {% if change_password_form.errors %}
                            {% for field_name, field_errors in change_password_form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ui success message">
                        <p>Your password has been changed.</p>
                    </div>
                    {{ change_password_form.submit(class_="ui button")}}
                </form>
            </td>
        </tr>
        <tr class="warning">
            <td class="right aligned">Delete account</td>
            <td>
                <p class="ui red">This action cannot be undone.</p>
                <form
                        method="POST"
                        action="{{ url_for('user_bp.delete_account', username=user.username) }}"
                        class="ui form {{ 'error' if delete_account_error_message or delete_account_form.errors}}"
                >
                    {{ delete_account_form.csrf_token }}
                    <!-- Need to include this token - Flask WTForms requires it. -->
                    <div class="field required">
                        {{ delete_account_form.confirmation.label }}
                        {{ delete_account_form.confirmation(placeholder="Enter your username to confirm") }}
                    </div>
                    <div class="ui left aligned segment basic error message">
                        <ul>
                            {% if delete_account_error_message %}
                            <li>{{ delete_account_error_message }}</li>
                            {% endif %}

                            {% if delete_account_form.errors %}
                            {% for field_name, field_errors in delete_account_form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    {{ delete_account_form.submit(class_="ui button")}}
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>