{% extends 'layout.html' %}
{% block content %}
<section class="ui segment basic padded">

    {% include 'user/stats.html' %}

    <h1 class="ui top attached block header">
        {{ user.username }}
    </h1>

    <div class="ui segment active">
        <table class="ui very basic table padded">
            <tbody>
            <tr>
                <td>Joined</td>
                <td>
                    {{ user.joined_on_utc|dateformat }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {% if user.username == session['username'] %}
    {% include 'user/settings.html' %}
    {% endif %}
</section>
{% endblock %}