<nav>
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="item" href="{{ url_for('home_bp.home') }}">
                    <i class="film icon"></i>
                    MyMovieList
                </a>

                <div class="right menu">
                    {% if 'username' in session %}
                    <div class="item" href="{{ url_for('home_bp.home') }}">
                        {{ session['username'] }}
                    </div>
                    <a class="item" id="logout" href="{{ url_for('auth_bp.logout') }}">Log out</a>
                    {% else %}
                    <a class="item" id="login" href="{{ url_for('auth_bp.login') }}">Log in</a>
                    <a class="item" href="{{ url_for('auth_bp.register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>