<form class="ui form" action=" {{ url_for('search_bp.search') }} " id="search-form">
    <div class="field">
        <div class="ui icon input">
            {{ form.query(placeholder="Search...") }}
            <i class="search icon"></i>
        </div>
    </div>
    <div class="ui accordion field">
        <div class="title">
            <i class="icon dropdown"></i>
            Advanced Search
        </div>
        <div class="ui content field segment basic left aligned">
            <div class="field">
                {{ form.genres.label }}
                {{ form.genres(class_="ui search dropdown") }}
            </div>
            <div class="field">
                {{ form.directors.label }}
                {{ form.directors(class_="ui search dropdown") }}
            </div>
            <div class="field">
                {{ form.actors.label }}
                {{ form.actors(class_="ui search dropdown") }}
            </div>
        </div>
        {{ form.submit(class_="ui button") }}
    </div>
</form>

