{% extends 'layout.html' %}

{% block content %}
<section class="ui center aligned segment padded">
    <div class="ui text container">
        <h1 class="ui icon header huge">{{ title }}</h1>
        <form method="POST" action="{{ handler_url }}" class="ui form">
            {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="field">
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div class="field">
                {{ form.password.label }}
                {{ form.password }}
            </div>
            {{ form.submit(class_="ui button")}}
        </form>
    </div>
</section>
{% endblock %}