{% extends 'layout.html' %}

{% block content %}
<section class="ui center aligned segment padded">
    <div class="ui text container">
        <h1 class="ui icon header huge">{{ title }}</h1>
        <form
                method="POST"
                action="{{ handler_url }}"
                class="ui form {{ 'error' if username_error_message or password_error_message or form.errors}} {{ 'success' if is_register_success }}"
        >
            {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="field {{ 'required' if is_register_form }} {{ 'error' if username_error_message or form.errors['username'] }}">
                {{ form.username.label }}
                {{ form.username(autofocus=True) }}
            </div>
            <div class="field {{ 'required' if is_register_form }}  {{ 'error' if password_error_message or form.errors['password'] }}">
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <div class="ui left aligned segment basic error message">
                <ul>
                    {% if username_error_message %}
                    <li>{{ username_error_message or '' }}</li>
                    {% endif %}

                    {% if password_error_message %}
                    <li>{{ password_error_message or '' }}</li>
                    {% endif %}

                    {% if form.errors %}
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="ui success message">
                <div class="header">Registration succeeded</div>
                <p>Enter your credentials to log in.</p>
            </div>
            {{ form.submit(class_="ui button")}}
        </form>
    </div>
</section>
{% endblock %}