{% extends 'layout.html' %}

{% block content %}
<section class="ui center aligned segment padded">
    <div class="ui text container">
        <h1 class="ui icon header huge">{{ title }}</h1>
        <form
                method="POST"
                action="{{ handler_url }}"
                class="ui form {{ 'error' if username_error_message or password_error_message }} {{ 'success' if is_register_success }}"
        >
            {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="field {{ 'required' if is_register_form }} {{ 'error' if username_error_message }}">
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div class="field {{ 'required' if is_register_form }}  {{ 'error' if password_error_message }}">
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <div class="ui error message">
                <div class="header">Error</div>
                <p>{{ username_error_message or '' }}</p>
                <p>{{ password_error_message or '' }}</p>
            </div>
            <div class="ui success message">
                <div class="header">Registration succeeded</div>
                <p>Enter your credentials to log in.</p>
            </div>
            {{ form.submit(class_="ui button")}}
        </form>
    </div>
</section>
{% endblock %}