{% extends 'layout.html' %}
{% block content %}
<section class="ui segment basic padded">
    <h1 class="ui top attached block header">
        {{ movie.title }}
    </h1>
    <div class="ui top attached tabular menu">
        <a class="item {{ 'active' if tab == 0 }}" data-tab="summary">Summary</a>
        <a class="item {{ 'active' if tab == 1 }}" data-tab="reviews">Reviews</a>
    </div>
    <div class="ui bottom attached tab segment {{ 'active' if tab == 0 }}" data-tab="summary">
        <table class="ui very basic table attached padded" data-tab="summary">
            <tr>
                <td>Genre(s)</td>
                <td>
                    {% if movie.genres %}
                    <div class="ui labels">
                        {% for genre in movie.genres %}
                        <a
                                class="ui label"
                                href="{{ url_for('search_bp.search', genre=genre.genre_name) }}">
                            {{genre.genre_name}}
                        </a>
                        {% endfor %}
                    </div>
                    {% else %}
                    Unknown
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Director</td>
                <td>
                    <span>
                        <a href="{{ url_for('search_bp.search', director=movie.director.director_full_name) }}">
                            {{ movie.director.director_full_name }}
                        </a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Actors</td>
                <td>
                    {% if movie.actors %}
                    <div class="ui labels">
                        {% for actor in movie.actors %}
                        <a
                                class="ui label"
                                href="{{ url_for('search_bp.search', actor=actor.actor_full_name) }}">
                            {{actor.actor_full_name}}
                        </a>
                        {% endfor %}
                    </div>
                    {% else %}
                    Unknown
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Release date</td>
                <td>{{ movie.release_date if movie.release_date is not none else 'Unknown' }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ movie.description if movie.description is not none else 'Unknown' }}</td>
            </tr>
            <tr>
                <td>Runtime</td>
                <td>{{ "{} minutes".format(movie.runtime_minutes) if movie.runtime_minutes is not none else 'Unknown'
                    }}
                </td>
            </tr>
            <tr>
                <td>Rating</td>
                <td>{{ movie.rating if movie.rating is not none else 'Unknown' }}</td>
            </tr>
            <tr>
                <td>Votes</td>
                <td>{{ movie.votes if movie.votes is not none else 'Unknown' }}</td>
            </tr>
            <tr>
                <td>Metascore</td>
                <td>{{ movie.metascore if movie.metascore is not none else 'Unknown' }}</td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td>
                    {{
                    "${} million".format(movie.revenue_millions) if movie.revenue_millions is not none else 'Unknown'
                    }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment {{ 'active' if tab == 1 }}" data-tab="reviews">
        <section>
            <h1 class="ui icon header huge">Leave a review</h1>
            <form
                    method="POST"
                    action="{{ url_for('movie_bp.movie', movie_id=movie_id) }}"
                    class="ui form {{ 'error' if review_error_message }} {{ 'success' if is_review_success }}"
            >
                {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
                <div class="field {{ 'required' if is_register_form }} {{ 'error' if username_error_message }}">
                    {{ form.rating.label }}
                    {{ form.rating(placeholder='Enter an integer between 1 and 10') }}
                </div>
                <div class="field {{ 'required' if is_register_form }}  {{ 'error' if password_error_message }}">
                    {{ form.review.label }}
                    {{ form.review }}
                </div>
                <div class="ui error message">
                    {% if form.errors %}
                    <ul>
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="ui success message">
                    <div class="header">Review submitted</div>
                </div>
                {{ form.submit(class_="ui button")}}
            </form>
        </section>

        <div class="ui divider"></div>

        {% if reviews %}
        <section class="ui feed">
            {% for review in reviews %}
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span class="user">
                            {{ reviews_user_map[review].user_name or 'Anonymous' }}
                        </span>
                        <div class="date">
                            {{ review.timestamp|dateformat }}
                        </div>
                    </div>
                    <div class="extra text">
                        {{ review.review_text }}
                    </div>
                    <div class="meta">
                        {% for _ in range(review.rating|int) %}
                        <i class="star icon yellow fitted"></i>
                        {% endfor %}
                        {{ review.rating }} star{{'s' if review.rating and review.rating > 1}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        {% else %}
        <section>
            <p>No reviews have been posted.</p>
        </section>
        {% endif %}
    </div>
</section>
<script>$('.tabular.menu .item').tab();</script>
{% endblock %}
