{% extends 'layout.html' %} {% block content %}
<section class="ui segment basic padded">

    <div class="ui divided items">
        {% for movie in movies %}
        <section class="item">
            <div class="content">
                <a class="header" href="">{{ movie.title }}</a>
                <div class="meta">
                    <span>
                        <a href="{{ url_for('search_bp.search', director=movie.director.director_full_name) }}">
                            {{ movie.director.director_full_name }}
                        </a>
                    </span>
                    <span>|</span>
                    <span>{{ movie.runtime_minutes }} minutes</span>
                    <span>|</span>
                    <span>Rated {{ movie.rating }}</span>
                </div>
                <div class="description">
                    <p>{{ movie.description }}</p>
                </div>

                <div class="extra">
                    {% for genre in movie.genres %}
                    <a
                            class="ui label"
                            href="{{ url_for('search_bp.search', genre=genre.genre_name) }}">
                        {{genre.genre_name}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
</section>
{% endblock %}
