<section class="ui feed">
    {% for review in reviews %}
    <div class="event">
        <div class="content">
            <div class="summary">
                {% if reviews_user_map[review] %}
                <a class="user" href="{{ url_for('user_bp.user', username=reviews_user_map[review].username) }}">
                    {{ reviews_user_map[review].username }}
                </a>
                {% else %}
                <span class="user">
                    Anonymous
                </span>
                {% endif %}
                <div class="date">
                    {{ review.timestamp|dateformat }}
                </div>
            </div>
            <div class="extra text pre-wrap">{{ review.review_text }}</div>
            <div class="meta">
                {% for _ in range(review.rating|int) %}
                <i class="star icon yellow fitted"></i>
                {% endfor %}
                {{ review.rating }} star{{'s' if review.rating and review.rating > 1}}
            </div>
        </div>
    </div>
    {% endfor %}
</section>