{% extends 'layout.html' %} {% block content %}
<section class="ui center aligned segment padded">
    <div class="ui text container">
        <h1 class="ui icon header huge">
            <i class="film icon"></i>
            <div class="content">
                MyMovieList
            </div>
        </h1>

        <form class="ui form" action=" {{ url_for('search_bp.search') }} ">
            <div class="field">
                <div class="ui icon input">
                    <input name="query" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</section>
<section class="ui center aligned segment basic">
    <h2 class="ui header">
        <div class="content">
            Browse by Genre
            <div class="sub header">{{ num_movies }} movies available covering {{ genres|length }} genres</div>
        </div>
    </h2>

    <div class="ui grid">
        {% for genre in genres %}
        <div class="two wide column centered">
            <div class="ui horizontal list big">
                <div class="item">
                    <div class="content">
                        <a class="header" href="{{ url_for('search_bp.search', genre=genre.genre_name) }}">
                            {{ genre.genre_name}}
                        </a>
                        {{ genre_movies[genre] }} movies
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<!--    <h2 class="ui header">-->
<!--        Directors-->
<!--    </h2>-->

<!--    <div class="ui grid">-->
<!--        {% for director in directors %}-->
<!--        <div class="two wide column centered">-->
<!--            <div class="ui horizontal list big">-->
<!--                <div class="item">-->
<!--                    <div class="content">-->
<!--                        <a class="header" href="{{ url_for('search_bp.search', director=director.director_full_name) }}">-->
<!--                            {{ director.director_full_name}}-->
<!--                        </a>-->
<!--                        {{ director_movies[director] }} movies-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->

<!--    <h2 class="ui header">-->
<!--        Actors-->
<!--    </h2>-->

<!--    <div class="ui grid">-->
<!--        {% for actor in actors %}-->
<!--        <div class="two wide column centered">-->
<!--            <div class="ui horizontal list big">-->
<!--                <div class="item">-->
<!--                    <div class="content">-->
<!--                        <a class="header" href="{{ url_for('search_bp.search', actor=actor.actor_full_name) }}">-->
<!--                            {{ actor.actor_full_name}}-->
<!--                        </a>-->
<!--                        {{ actor_movies[actor] }} movies-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
</section>
{% endblock %}
